
h1{
    margin:20px;
    color:#f3109c;

}
*{
    border:solid

}

    .header{
       background-color:#900ace;
       display:flex;
       justify-content: space-between ;
   }
   .grid{
       display:flex;
     flex-wrap:wrap;
        justify-content:center ;
   }body{
       margin:70px;
       background-color:#0ab1ce;

}